@tailwind base;

@tailwind components;

@tailwind utilities;

/**
 **  Custom CSS
 **/

.cscroll {
  scroll-behavior: smooth;
}

select,
input,
button {
  outline: 0 !important;
}

.customizations-repeater > .items > .item-content:not(:last-child),
.variations-repeater > .items > .item-content:not(:last-child),
.customer-address-repeater > .items > .item-content:not(:last-child),
.category-discounts-repeater > .items > .item-content:not(:last-child),
.product-discounts-repeater > .items > .item-content:not(:last-child) {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e2e8f0;
}

/*.customer-address-repeater > .items > .item-content:nth-child(even) {
  background-color: #f7fafc;
}*/

.bg-login {
  background: #8E2DE2;
  background: -webkit-linear-gradient(to right, #4c51bf, #8E2DE2);
  background: linear-gradient(to right, #4c51bf, #8E2DE2);
 }

.form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-shrink: 0;
  color: #5a67d8;
  background-color: #fff;
  border-color: #cbd5e0;
  border-width: 1px;
  border-radius: 0.25rem;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}


@media not print {
  .form-checkbox::-ms-check{
    border-width: 1px;
    color: transparent;
    background: inherit;
    border-color: inherit;
    border-radius: inherit;
  }
}

.form-checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 1px #a3bffa;
  border-color: #a3bffa;
}

.form-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-shrink: 0;
  border-radius: 100%;
  color: #5a67d8;
  background-color: #fff;
  border-color: #cbd5e0;
  border-width: 1px;
}

.form-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media not print {
  .form-radio::-ms-check{
    border-width: 1px;
    color: transparent;
    background: inherit;
    border-color: inherit;
    border-radius: inherit;
  }
}

.form-radio:focus {
  outline: none;
  box-shadow: 0 0 0 1px #a3bffa;
  border-color: #a3bffa;
}

.fade {
  transition: all .3s ease-in-out;
}

.select-checkbox {
  cursor: pointer;
}

table.dataTable thead th,
table.dataTable thead td {
  background-color: #f7fafc;
  border-bottom: 2px solid #e2e8f0 !important;
}

table.dataTable.display tbody td {
  border-bottom: 1px solid #e2e8f0 !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody th,
table.dataTable tbody td {
  padding: .8rem 1rem;
}

table.dataTable.no-footer {
  border: 1px solid #e2e8f0 !important;
  border-bottom: none !important;
  border-radius: 4px;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: transparent;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: #f7fafc;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background-color: transparent;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 0;
}

.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
  color: #4a5568; 			/*text-gray-700*/
  padding-left: 1rem; 		/*pl-4*/
  padding-right: 1rem; 		/*pl-4*/
  padding-top: .5rem; 		/*pl-2*/
  padding-bottom: .5rem; 		/*pl-2*/
  line-height: 1.25; 			/*leading-tight*/
  border-width: 1px; 			/*border-2*/
  border-radius: .25rem; 		
  border-color: #e2e8f0; 		/*border-gray-200*/
  background-color: #f7fafc; 	/*bg-gray-200*/
}

.dataTables_wrapper .dataTables_length {
  float: right;
  margin-left: 2rem;
}

.dataTables_length,
.dataTables_filter {
  margin-bottom: 1rem;
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button		{
  margin: 0 0.4rem;
  font-weight: 500;				/*font-bold*/
  border-radius: .25rem;			/*rounded*/
  color: #4c51bf;
  border: 1px solid transparent;	/*border border-transparent*/
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current	{
  color: #fff !important;				/*text-white*/
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06); 	/*shadow*/
  font-weight: 500;					/*font-bold*/
  border-radius: .25rem;				/*rounded*/
  color: #fff;
  background: #4c51bf !important;		/*bg-indigo-500*/
  border: 1px solid transparent;		/*border border-transparent*/
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
  color: #fff !important;				/*text-white*/
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
  font-weight: 500;					/*font-bold*/
  border-radius: .25rem;				/*rounded*/
  color: #4c51bf;
  background: #ebf4ff !important;		/*bg-indigo-500*/
  border: 1px solid transparent;		/*border border-transparent*/
}

/*Add padding to bottom border */
table.dataTable.no-footer {
  border-bottom: 1px solid #e2e8f0;	/*border-b-1 border-gray-300*/
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
  display: none;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
  background-color: #ebf4ff;
}

table.dataTable.stripe tbody>tr.odd.selected,
table.dataTable.stripe tbody>tr.odd>.selected,
table.dataTable.display tbody>tr.odd.selected,
table.dataTable.display tbody>tr.odd>.selected {
  background-color: #ebf4ff;
}


table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  background-color: transparent;
}

table.dataTable.display tbody>tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1,
table.dataTable.display tbody>tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1 {
  background-color: #ebf4ff;
}

table.dataTable.display tbody>tr.even.selected:hover,
table.dataTable.order-column.stripe tbody>tr.even.selected:hover,
table.dataTable.display tbody>tr.odd.selected:hover,
table.dataTable.order-column.stripe tbody>tr.odd.selected:hover {
  background-color: #ebf4ff !important;
}

.vue-treeselect__control {
  height: 46px !important;
  border-color: #e2e8f0 !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) !important;
}

.vue-treeselect__placeholder,
.vue-treeselect__single-value {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .25rem;
}

.vue-treeselect__multi-value-label {
  padding-right: 12px;
}

.vue-treeselect__multi-value-label,
.vue-treeselect__value-remove {
  padding: 0 10px;
}

.vue-treeselect__multi-value-item {
  font-size: 1rem;
}

.vue-treeselect__label {
  padding: .25rem .5rem;
  font-size: 1rem;
  font-weight: 500;
}

.dropzone {
  min-height: auto;
  border: 1px dashed #667eea;
  border-radius: 4px;
}

.vue-treeselect:not(.vue-treeselect--disabled) .vue-treeselect__multi-value-item:not(.vue-treeselect__multi-value-item-disabled):hover .vue-treeselect__multi-value-item:not(.vue-treeselect__multi-value-item-new) .vue-treeselect__multi-value-item:not(.vue-treeselect__multi-value-item-new):hover,
.vue-treeselect__multi-value-item {
  background: #c3dafe;
  color: #4c51bf;
}

.vue-treeselect__value-remove {
  color: #7f9cf5;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 1px solid #e2e8f0;
}

.ql-toolbar.ql-snow {
  border-radius: 4px 4px 0 0;
}

.ql-container.ql-snow {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) !important;
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: auto;
}

.select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #434190;
  line-height: 1.5;
  padding: 0.7rem 1rem;
}


#product_discounts_select + .select2-container--default .select2-selection--single .select2-selection__rendered,
#category_discounts_select + .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0.35rem 1rem;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #667eea;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid #4c51bf !important;
}

.vdp-datepicker__calendar .cell.selected {
  color: #fff !important;
  background: #4c51bf !important;
}

.vdp-datepicker__calendar .cell.selected:hover {
  color: #fff !important;
  background: #5a67d8 !important;
}

.notifications_label {
  top: -6px !important;
  right: -6px !important;
}

.lang-switcher {
  top: 1px;
  right: 1px;
  bottom: 1px;
}
