extends ../layouts/default

block meta
    title Analytics | Shopinizer eCommerce

block page
    article.flex
        .side-nav.flex-col.h-screen
            .nav-title.flex.mb-6
                //span.material-icons.text-gray-600.text-xl.self-center.mr-2    navigate_next
                p.text-xl.text-gray-800.self-center   Analytics



            .nav-menu.mb-8
                .nav-subtitle.flex.mb-3
                    p.text-md.text-gray-800   
                nav.ml-4
                    ul.flex-col
                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Overview

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Insights


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Real Time


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Merchandising


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Marketing

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Orders

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Customers

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Purchase Funnel

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Abandoned Carts

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  In-store Search

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Sales Tax Report


            