extends ../layouts/default

block meta
    title Catalog | Shopinizer eCommerce

block page
    article.flex.w-full
        .side-nav.flex-col.h-screen
            .nav-title.flex.mb-6
                //span.material-icons.text-gray-600.text-xl.self-center.mr-2    navigate_next
                p.text-xl.text-gray-800.self-center   Catalog



            .nav-menu.mb-6
                .nav-subtitle.flex.mb-3
                    p.text-md.text-gray-800   Products
                nav.ml-4
                    ul.flex-col
                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  View

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Add


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Search


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Import


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Export


            .nav-menu.mb-6
                .nav-subtitle.flex.mb-3
                    p.text-md.text-gray-800   Product Definitions
                nav.ml-4
                    ul.flex-col
                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Brands


                        li.mb-3
                            a(href="./categories.html")
                                p.text-sm.text-gray-600  Product Categories


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Product Attributes


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Product Options


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Product filters


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Price Lists


                        



            .nav-menu
                .nav-subtitle.flex.mb-3
                    p.text-md.text-gray-800   Product's Feedback
                nav.ml-4
                    ul.flex-col
                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Product Reviews

