extends ../layouts/default

block meta
    title Sales | Shopinizer eCommerce

block page
    article.flex
        .side-nav.flex-col.h-screen
            .nav-title.flex.mb-6
                //span.material-icons.text-gray-600.text-xl.self-center.mr-2    navigate_next
                p.text-xl.text-gray-800.self-center   Customers



            .nav-menu.mb-8
                .nav-subtitle.flex.mb-3
                    p.text-md.text-gray-800   
                nav.ml-4
                    ul.flex-col
                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  View

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Add


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Search


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Import


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Export


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Customer Groups