extends ../layouts/login

block meta
    title Dashboard | Shopinizer eCommerce

block page
    .w-full.self-center.max-w-sm
        form.bg-white.shadow-md.rounded.p-8.mb-4
            .mb-6.text-center
                img.inline-block.mx-auto(src="./assets/images/icon-dark.svg", width="60px")

            .mb-4
                label.block.mb-2.text-sm.font-bold(for='email') Email
                input#email.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type='email' placeholder='name@domin.com')

            .flex.items-center.justify-between
                button.block.w-full.bg-blue-500.text-white.font-bold.py-2.px-6.text-center.rounded.fade.hover_bg-blue-600.focus_outline-none.focus_shadow-outline(type="button") Send
        p.text-center.text-white.text-sm &copy;2020 Admin. All rights reserved.
