extends ../layouts/default

block meta
    title Marketing | Shopinizer eCommerce

block page
    article.flex
        .side-nav.flex-col.h-screen
            .nav-title.flex.mb-6
                //span.material-icons.text-gray-600.text-xl.self-center.mr-2    navigate_next
                p.text-xl.text-gray-800.self-center   Marketing



            .nav-menu.mb-8
                .nav-subtitle.flex.mb-3
                    p.text-md.text-gray-800   

                nav.ml-4
                    ul.flex-col
                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Banners

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Promotions


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Cart Notifications


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Coupon Codes


                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Google Customer Reviews

            .nav-menu
                .nav-subtitle.flex.mb-3
                    p.text-md.text-gray-800 

                nav.ml-4
                    ul.flex-col
                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Email Marketing

                        li.mb-3
                            a(href="")
                                p.text-sm.text-gray-600  Gift Certificates                 