extends ../layouts/default

block meta
    title Dashboard | Shopinizer eCommerce

block nestbar
    aside.flex.flex-col.w-full.max-w-xxs.py-6.px-8.bg-indigo-100
        h3.mb-6.text-2xl Orders

        nav.flex.flex-col.mb-6
            ul.flex.flex-col
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./orders.html") View
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./order-single.html") Add
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./order-import.html") Import
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./order-export.html") Export

        nav.flex.flex-col.mb-6
            ul.flex.flex-col
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./order-drafts.html") Draft Orders
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./order-shipments.html") Shipments
                li.mb-3
                    a.text-indigo-800.hover_text-indigo-800(href="./order-tracking.html") Tracking Numbers
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./order-gifts.html") Gift Certificates
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./order-statuses.html") Order Statuses


block page
    .flex.flex-col.px-12.py-4.bg-white.shadow-sm.z-50
        .flex.flex-row.items-center.justify-between.-ml-3
            .flex.flex-col
                h2.mb-2.text-3xl.font-light.leading-none Import Tracking Numbers

            // Buttons control
            nav.flex.flex-row
                a.flex.flex-row.items-center.ml-4.text-indigo-700.border.border-indigo-700.rounded.hover_opacity-50.fade(href="#")
                    span.material-icons.py-1.px-2.text-md more_vert

    .flex.flex-col.flex-1.items-center.h-full.py-8.px-12.overflow-y-auto.bg-gray-100
        // start Form
        form.w-full.max-w-5xl(action="/upload" method="post" enctype="multipart/form-data" )

            .p-8.mb-8.bg-white.shadow.rounded
                h6.mb-6.text-2xl.font-normal.text-gray-600 Order Status Details

                .flex.flex-wrap.-mx-4
                    .w-full.md_w-1_2.px-4.mb-0
                        label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Update Order Status to:
                        .relative
                            select.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                option(value='1') Pending
                                option(value='7') Awaiting Payment
                                option(value='11' selected='true') Awaiting Fulfillment
                                option(value='9') Awaiting Shipment
                                option(value='8') Awaiting Pickup
                                option(value='3') Partially Shipped
                                option(value='10') Completed
                                option(value='2') Shipped
                                option(value='5') Cancelled
                                option(value='6') Declined
                                option(value='4') Refunded
                                option(value='13') Disputed
                                option(value='12') Manual Verification Required
                                option(value='14') Partially Refunded
                            .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                    path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')


            .p-8.mb-8.bg-white.shadow.rounded
                h6.mb-6.text-2xl.font-normal.text-gray-600 Import Details

                .flex.flex-wrap.-mx-4
                    .w-full.px-4.mb-0
                        label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Override Existing Details?
                        label.inline-flex.items-center
                            input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                            span.ml-2 Yes, override existing records


            .p-8.mb-8.bg-white.shadow.rounded
                h6.mb-6.text-2xl.font-normal.text-gray-600 File Details

                .flex.flex-wrap.-mx-4
                    .w-full.px-4.mb-0
                        label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Import File:
                    
                    .w-full.px-4.mb-2
                        label.inline-flex.items-center
                            input.form-radio.h-6.w-6.text-indigo-700(type="radio")
                            span.ml-2 Upload a .csv file from my computer(512MB size limit)
                    
                    .w-full.px-4.mb-6
                        label.inline-flex.items-center
                            input.form-radio.h-6.w-6.text-indigo-700(type="radio")
                            span.ml-2 Use a file already on the server
                    
                    .w-full.px-4.mb-6
                        label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Contains Headers?
                        label.inline-flex.items-center
                            input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                            span.ml-2 Yes, this file contains headers
                    
                    .w-full.md_w-1_2.flex.flex-wrap.px-4.-mx-4
                        .w-full.px-4.mb-6
                            label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Field Separator:
                            input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" value="," placeholder="")
                         
                    .w-full.md_w-1_2.flex.flex-wrap.px-4.-mx-4
                        .w-full.px-4.mb-6
                            label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Field Enclosure:
                            input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" value='"' placeholder="")
                         

        // end Form
                    
block footer
    .flex.flex-row.justify-end.items-center.px-12.py-4.bg-white.border-t.border-gray-200.z-50
        nav.flex.flex-row
            button.flex.flex-row.items-center.ml-4.text-gray-600.rounded.outline-none.hover_opacity-75.fade(type="button")
                span.py-1.text-sm.font-medium.tracking-widest.uppercase Cancel
            button.flex.flex-row.items-center.ml-4.text-white.bg-indigo-700.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="button")
                span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Next