extends ../layouts/default

block meta
    title Dashboard | Shopinizer eCommerce

block nestbar
    aside.flex.flex-col.w-full.max-w-xxs.py-6.px-8.bg-gray-300
        h3.mb-6.text-2xl Catalog

        .flex.flex-col.mb-6
            h4.mb-3.text-md Products
            nav.pl-3
                ul.flex.flex-col
                    li.mb-3
                        a.text-gray-700.hover_text-blue-500(href="./products.html") View
                    li.mb-3
                        a.text-gray-700.hover_text-blue-500(href="./product-single.html") Add
                    li.mb-3
                        a.text-gray-700.hover_text-blue-500(href="./product-import.html") Import
                    li.mb-3
                        a.text-gray-700.hover_text-blue-500(href="./product-export.html") Export

        .flex.flex-col.mb-6
            h3.mb-3.text-md Product Definitions
            nav.pl-3
                ul.flex.flex-col
                    li.mb-3
                        a.text-blue-600.hover_text-blue-600(href="./product-brands.html") Brands
                    li.mb-3
                        a.text-gray-700.hover_text-blue-500(href="./product-categories.html") Product Categories
                    li.mb-3
                        a.text-gray-700.hover_text-blue-500(href="./product-attributes.html") Product Attributes
                    li.mb-3
                        a.text-gray-700.hover_text-blue-500(href="./product-options.html") Product Options
                    li.mb-3
                        a.text-gray-700.hover_text-blue-500(href="./product-filters.html") Product Filters
                    li.mb-3
                        a.text-gray-700.hover_text-blue-500(href="./product-lists.html") Price Lists


block page
    .flex.flex-col.px-12.py-4.bg-white.shadow-sm.z-50
        .flex.flex-row.items-center.justify-between.-ml-3
            .flex.flex-col
                nav.flex.flex-row.mb-1
                    a.flex.flex-row.items-center.text-gray-500.hover_text-blue-500.fade(href="./product-brands.html")
                        span.material-icons.text-xl keyboard_backspace
                        span.ml-2.font-bold.text-xs.uppercase View Brands
                h2.mb-2.text-3xl.font-light.leading-none Add Brand | Brand Name Here

            // Buttons control
            nav.flex.flex-row
                a.flex.flex-row.items-center.ml-4.text-blue-500.border.border-blue-500.rounded.hover_opacity-50.fade(href="#")
                    span.material-icons.py-1.px-2.text-md more_vert

    .flex.flex-col.flex-1.items-center.h-full.py-8.px-12.overflow-y-auto.bg-gray-200
        .mb-5.text-center
            h5.mb-1.text-xl.font-medium Edit Brand
            p.text-lg.font-light.text-gray-700 Modify the details of the brand below and click "Save".
        // start Form
        form.w-full.max-w-5xl(action="/upload" method="post" enctype="multipart/form-data" )
            .p-8.mb-8.bg-white.shadow.rounded
                h6.mb-6.text-2xl.font-normal.text-gray-700 Brand Details

                .flex.flex-wrap.-mx-4
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Brand Name
                                span.mx-1.text-sm.text-red-600 *
                            input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text", placeholder="")
                        
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Page Title
                                span.mx-1.text-sm.text-red-600 *
                            input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text", placeholder="")
                        
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Meta Keywords
                                span.mx-1.text-sm.text-red-600 *
                            input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text", placeholder="")
                        
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Meta Description
                                span.mx-1.text-sm.text-red-600 *
                            input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text", placeholder="")
                        
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Search Keywords
                                span.mx-1.text-sm.text-red-600 *
                            input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text", placeholder="")
                        
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-1.text-xs.font-bol.uppercase.tracking-wide(for="image") Brand Image
                            input#image.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="file", placeholder="Upload Category Image")
                    
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Brand URL
                                span.mx-1.text-sm.text-red-600 *
                            input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text", placeholder="")
                        
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-1.text-xs.font-bol.uppercase.tracking-wide(for="layout-file") Template Layout File
                            .relative
                                select#layout-file.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500
                                    option Option 1
                                    option Option 2
                                    option Option 3
                                .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                    svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                        path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                    
        // end Form
                    
block footer
    .flex.flex-row.justify-end.items-center.px-12.py-4.bg-white.border-t.border-gray-200.z-50
        nav.flex.flex-row
            button.flex.flex-row.items-center.ml-4.text-gray-700.rounded.outline-none.hover_opacity-75.fade(type="button")
                span.py-1.text-sm.font-medium.tracking-widest.uppercase Cancel
            button.flex.flex-row.items-center.ml-4.text-blue-500.bg-white.border.border-blue-500.outline-none.rounded.hover_opacity-75.fade(type="button")
                span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Save&Exit
            button.flex.flex-row.items-center.ml-4.text-white.bg-blue-500.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="button")
                span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Save&Keep Editing
            button.flex.flex-row.items-center.ml-4.text-white.bg-red-700.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="button")
                span.material-icons.py-1.px-2.bg-red-800.text-md.rounded delete