extends ../layouts/default

block meta
    title Dashboard | Shopinizer eCommerce

block nestbar
    aside.flex.flex-col.w-full.max-w-xxs.py-6.px-8.bg-indigo-100
        h3.mb-6.text-2xl Catalog

        .flex.flex-col.mb-6
            h4.mb-3.text-md Products
            nav.pl-3
                ul.flex.flex-col
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./products.html") View
                    li.mb-3
                        a.text-gray-800.hover_text-indigo-800(href="./product-single.html") Add
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-import.html") Import
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-export.html") Export

        .flex.flex-col.mb-6
            h3.mb-3.text-md Product Definitions
            nav.pl-3
                ul.flex.flex-col
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-brands.html") Brands
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-categories.html") Product Categories
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-attributes.html") Product Attributes
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-options.html") Product Options
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-filters.html") Product Filters
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-lists.html") Price Lists


block page
    .flex.flex-row.justify-between.items-center.px-12.py-6.bg-white.shadow-sm.z-50
        h2.text-3xl.font-light.leading-none [Sample] Smith Journal 13
        // Buttons control
        nav.flex.flex-row
            //a.flex.flex-row.items-center.ml-4.text-white.bg-indigo-700.rounded.hover_opacity-75.fade(href="#")
                span.material-icons.py-1.px-2.bg-indigo-800.text-md.rounded-l add
                span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase New one
            a.flex.flex-row.items-center.ml-4.text-indigo-700.border.border-indigo-700.rounded.hover_opacity-50.fade(href="#")
                span.material-icons.py-1.px-2.text-md more_vert

    .relative.flex.flex-col.flex-1.items-center.h-full.py-8.px-12.overflow-y-auto.bg-gray-100
        .mb-5.text-center
            h5.mb-1.text-xl.font-medium Product Information
            p.text-lg.font-light.text-gray-600 Information to help define a product.
        // start Form
        form.w-full.max-w-5xl(action="/upload" method="post" enctype="multipart/form-data" )
            .p-8.mb-8.bg-white.shadow.rounded
                h6.mb-6.text-2xl.font-light.text-gray-600 Basic Information

                .flex.flex-wrap.-mx-4
                
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.inline-flex.items-center
                                input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                span.ml-2 Visible on Storefront

                    .w-full.md_w-1_2.px-4.mb-6
                        label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="name") Product Name
                            span.mx-1.text-sm.text-red-600 *
                        input#name.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="Simple Product Name")
                    
                    .w-full.md_w-1_2.px-4.mb-6
                        label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="SKU") SKU
                            span.mx-1.text-sm.text-red-600 *
                        input#SKU.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="SKU-5842")

                    .w-full.md_w-1_2.px-4.mb-6
                        label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="select-1") Product Type
                        .relative
                            select#select-1.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="Simple Product Name")
                                option Option 1
                                option Option 2
                                option Option 3
                            .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                    path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')

                    .w-full.md_w-1_2.px-4.mb-6
                        label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="Pric") Default Pric
                            span.mx-1.text-sm.text-red-600 *
                            | (excluding tax)
                        input#Pric.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="USD 500")
                
                    .w-full.md_w-1_2.px-4.mb-6
                        label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="select-2") Brand
                        .relative
                            select#select-2.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="Simple Product Name")
                                option Option 1
                                option Option 2
                                option Option 3
                            .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                    path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')

                    .w-full.md_w-1_2.px-4.mb-6
                        label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="Weight") Weight
                            span.mx-1.text-sm.text-red-600 *
                        .relative
                            input#Weight.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="0")
                            .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.px-4.text-gray-600 KGS
                

                    .w-full.px-4.mb-6
                        label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="Weight") Categories
                            span.mx-1.text-sm.text-red-600 *
                        treeselect(
                            v-model="treeselect_value",
                            v-bind:multiple="true",
                            v-bind:clearable="true",
                            v-bind:searchable="true",
                            v-bind:options="treeselect_options")
        
            .p-8.mb-8.bg-white.shadow.rounded
                h6.mb-6.text-2xl.font-light.text-gray-600 Description

                #editor
                    p Hello World!
                    p Some initial
                        strong bold
                        | text

            .p-8.mb-8.bg-white.shadow.rounded
                h6.mb-6.text-2xl.font-light.text-gray-600 Images

                .flex.flex-wrap.-mx-4
                    .w-full.px-4.mb-6
                        #upload-widget.dropzone
            
            .p-8.mb-8.bg-white.shadow.rounded
                h6.mb-6.text-2xl.font-light.text-gray-600 Search Engine Optimization

                .flex.flex-wrap.-mx-4
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="sTitle") Page Title
                            input#sTitle.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="")
                        
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="sKeywords") Meta Keywords
                            input#sKeywords.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="")
                        
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="sDescription") Meta Description
                            input#sDescription.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="")
                        
                    .w-full.px-4.mb-6
                        .w-full.md_w-1_2
                            label.block.mb-2.text-xs.font-bol.uppercase.tracking-wide(for="sSearch") Search Keywords
                            input#sSearch.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-200.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="")
                        

        // end Form
                    
block footer
    .flex.flex-row.justify-end.items-center.px-12.py-4.bg-white.border-t.border-gray-200.z-50
        nav.flex.flex-row
            button.flex.flex-row.items-center.ml-4.text-gray-500.rounded.outline-none.hover_opacity-75.fade(type="button")
                span.py-1.text-sm.font-medium.tracking-widest.uppercase Cancel
            button.flex.flex-row.items-center.ml-4.text-indigo-700.bg-white.border.border-indigo-700.outline-none.rounded.hover_opacity-75.fade(type="button")
                span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Save&Exit
            button.flex.flex-row.items-center.ml-4.text-white.bg-indigo-700.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="button")
                span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Save&Keep Editing
            button.flex.flex-row.items-center.ml-4.text-white.bg-red-700.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="button")
                span.material-icons.py-1.px-2.bg-red-800.text-md.rounded delete