extends ../layouts/default

block meta
    title Dashboard | Shopinizer eCommerce

block nestbar
    aside.flex.flex-col.w-full.max-w-xxs.py-6.px-8.bg-indigo-100
        h3.mb-6.text-2xl Catalog

        .flex.flex-col.mb-6
            h4.mb-3.text-md Products
            nav.pl-3
                ul.flex.flex-col
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./products.html") View
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-single.html") Add
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-import.html") Import
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-export.html") Export

        .flex.flex-col.mb-6
            h3.mb-3.text-md Product Definitions
            nav.pl-3
                ul.flex.flex-col
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-brands.html") Brands
                    li.mb-3
                        a.text-indigo-800.hover_text-indigo-800(href="./product-categories.html") Product Categories
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-attributes.html") Product Attributes
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-options.html") Product Options
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-filters.html") Product Filters
                    li.mb-3
                        a.text-gray-600.hover_text-indigo-700(href="./product-lists.html") Price Lists

block page
    .px-12.pt-6.bg-gray-100
        .flex.flex-row.justify-between.items-center.mb-6
            h2.text-3xl.font-light.leading-none Product Categories
            // Buttons control
            nav.flex.flex-row
                a.flex.flex-row.items-center.ml-4.text-white.bg-indigo-700.rounded.hover_opacity-75.fade(href="./product-category-single.html")
                    span.material-icons.py-1.px-2.bg-indigo-800.text-md.rounded-l add
                    span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase New category
                a.flex.flex-row.items-center.ml-4.text-indigo-700.border.border-indigo-700.rounded.hover_opacity-50.fade(href="#")
                    span.material-icons.py-1.px-2.text-md more_vert

        // Tabs
        nav.flex.flex-row.border-b.border-gray-300
            a.block.pb-2.px-5.-mb-px.font-medium.text-indigo-700.border-b-2.border-indigo-700.hover_text-indigo-700(href="./product-categories.html") All Records

    .px-12.py-6
        // Recored Table
        table#records-table.display
            thead
                tr
                    th.select-all.no-sort
                        label.pointer-events-none.inline-flex.items-center.justify-center.w-full.h-full
                            input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                    th.py-2.text-xs.font-bold.uppercase(style="width: 40%;") Category Name
                    th.py-2.text-xs.font-bold.uppercase Products
                    th.py-2.text-xs.font-bold.uppercase Products In Sub Cats
                    th.py-2.text-xs.font-bold.uppercase Visible In Menu?
                    th.no-sort.py-2.text-xs.font-bold.uppercase.text-right(style="width: 6%;") Action
            tbody
                tr
                    td.p-0
                        label.pointer-events-none.inline-flex.items-center.justify-center.w-full.h-full.cursor-pointer
                            input.select-row.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                    td
                        a.text-indigo-500.hover_text-indigo-700(href="./product-category-single.html") Bath
                    td 13
                    td 0
                    td Row 1 Data 4
                    td
                        nav.relative.flex.flex-row.items-center.justify-end(x-data='{ open: false }')
                            button.ml-2.fade.text-gray-500.hover_text-gray-700(type="button" x-on:click="open = true" data-tippy-content="More")
                                span.material-icons more_vert
                            .absolute.top-0.mt-5.right-0.z-30.py-2.w-full.md_w-40.bg-white.border.shadow-lg.rounded(x-show.transition='open' x-on:click.away='open = false')
                                a.block.w-full.py-1.px-4.text-sm.font-medium.text-gray-700.hover_text-indigo-700.hover_bg-gray-200(href="./product-category-single.html") Edit
                                a.block.w-full.py-1.px-4.text-sm.font-medium.text-gray-700.hover_text-indigo-700.hover_bg-gray-200(href="./product-category-single.html") Option 2
