extends ../layouts/default

block meta
    title Reservation | TurXpert


block page
    article.home-page.w-screen.flex.flex-col
        // start utilities bar
        block utility
            include ../partials/utility-reservation

        section.data.flex
            p.text-2xl test


