extends ../layouts/default

block meta
    title Store | Shopinizer eCommerce

block nestbar
    aside.flex.flex-col.w-full.max-w-xxs.py-6.px-8.bg-gray-300
        h3.mb-6.text-2xl Store Setup

        nav.flex.flex-col.mb-6
            ul.flex.flex-col
                li.mb-3
                    a.text-gray-700.hover_text-blue-500(href="./store-profile.html") Store Profile
                li.mb-3
                    a.text-gray-700.hover_text-blue-500(href="./store-currencies.html") Currencies
                li.mb-3
                    a.text-blue-600.hover_text-blue-600(href="./store-payments.html") Payments
                li.mb-3
                    a.text-gray-700.hover_text-blue-500(href="./store-settings.html") Store Settings
                li.mb-3
                    a.text-gray-700.hover_text-blue-500(href="./store-shipping.html") Shipping
                li.mb-3
                    a.text-gray-700.hover_text-blue-500(href="./store-tax.html") Tax
                li.mb-3
                    a.text-gray-700.hover_text-blue-500(href="./store-points.html") Point of Sale
                li.mb-3
                    a.text-gray-700.hover_text-blue-500(href="./store-accounting.html") Accounting

block page
    .flex.flex-col.px-12.py-4.bg-white.shadow-sm.z-50
        .flex.flex-row.items-center.justify-between.-ml-3
            .flex.flex-col
                nav.flex.flex-row.mb-1
                    a.flex.flex-row.items-center.text-gray-500.hover_text-blue-500.fade(href="./store-payments.html")
                        span.material-icons.text-xl keyboard_backspace
                        span.ml-2.font-bold.text-xs.uppercase View Payment Methods
                h2.mb-2.text-3xl.font-light.leading-none Gateway API

            // Buttons control
            nav.flex.flex-row
                a.flex.flex-row.items-center.ml-4.text-blue-500.border.border-blue-500.rounded.hover_opacity-50.fade(href="#")
                    span.material-icons.py-1.px-2.text-md more_vert


    .flex.flex-col.flex-1.items-center.h-full.py-8.px-12.overflow-y-auto.bg-gray-200
        // start Form
        form.w-full.max-w-5xl(action="/upload" method="post" enctype="multipart/form-data" )

            .mb-5.text-center
                p.text-lg.font-normal.text-gray-700 To integrate Gateway API into your store simply complete the form above and click the 'Save' button.

            .flex.flex-wrap.-mx-4.mb-5
                .w-full.md_w-3_12.px-4
                    label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Show payment methods for: 
                    .relative
                        select.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500
                            option USD
                            option Option 2
                            option Option 3
                        .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                            svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                
            .p-8.mb-8.bg-white.shadow.rounded
                h6.mb-6.text-2xl.font-normal.text-gray-700 Settings
                                
                .flex.flex-wrap.-mx-4.mb-6
                    .w-full.md_w-1_2.px-4
                        label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Account Type
                        .relative
                            select.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500
                                option Demo
                                option Live
                            .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                    path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                    
                .flex.flex-wrap.-mx-4.mb-6
                    .w-full.md_w-1_2.px-4
                        label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Display Name
                        input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text" value="Payment Name")
                
                .flex.flex-wrap.-mx-4.mb-6
                    .w-full.md_w-1_2.px-4
                        label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Gateway ID
                        input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text")
                
                .flex.flex-wrap.-mx-4.mb-6
                    .w-full.md_w-1_2.px-4
                        label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Gateway Password
                        input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="password")
                                
                .flex.flex-wrap.-mx-4.mb-6
                    .w-full.md_w-1_2.px-4
                        label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide HMAC Key Id
                        input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text")
                                               
                .flex.flex-wrap.-mx-4.mb-6
                    .w-full.md_w-1_2.px-4
                        label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide HMAC Key
                        input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500(type="text")
                 
                .flex.flex-wrap.-mx-4.mb-6
                    .w-full.md_w-1_2.px-4
                        label.block.mb-1.text-xs.font-bold.uppercase.tracking-wide Transaction Type
                        .relative
                            select.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-blue-900.bg-white.border.border-gray-500.shadow-xs.rounded.fade.focus_outline-none.focus_border-blue-500
                                option Authorize & Capture
                                option Authorize Only
                            .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                    path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                    
        // end Form
                    
block footer
    .flex.flex-row.justify-end.items-center.px-12.py-4.bg-white.border-t.border-gray-200.z-50
        nav.flex.flex-row
            button.flex.flex-row.items-center.ml-4.text-gray-700.rounded.outline-none.hover_opacity-75.fade(type="button")
                span.py-1.text-sm.font-medium.tracking-widest.uppercase Cancel
            button.flex.flex-row.items-center.ml-4.text-white.bg-blue-500.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="button")
                span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Save
