extends ../layouts/default

block meta
    title Store | Shopinizer eCommerce

block nestbar
    aside.flex.flex-col.w-full.max-w-xxs.py-6.px-8.bg-indigo-100
        h3.mb-6.text-2xl Store Setup

        nav.flex.flex-col.mb-6
            ul.flex.flex-col
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-profile.html") Store Profile
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-currencies.html") Currencies
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-payments.html") Payments
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-settings.html") Store Settings
                li.mb-3
                    a.text-indigo-800.hover_text-indigo-800(href="./store-shipping.html") Shipping
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-tax.html") Tax
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-points.html") Point of Sale
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-accounting.html") Accounting

block page
    .px-12.pt-6.bg-white
        .flex.flex-row.justify-between.items-center.mb-6
            h2.text-3xl.font-light.leading-none Shipping Manager
            // Buttons control
            nav.flex.flex-row
                a.flex.flex-row.items-center.ml-4.text-white.bg-indigo-700.rounded.hover_opacity-75.fade(href="./product-single.html")
                    span.material-icons.py-1.px-2.bg-indigo-800.text-md.rounded-l add
                    span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase New shipping address
                a.flex.flex-row.items-center.ml-4.text-indigo-700.border.border-indigo-700.rounded.hover_opacity-50.fade(href="#")
                    span.material-icons.py-1.px-2.text-md more_vert

    .flex.flex-col.flex-1.items-center.h-full.py-8.px-12.overflow-y-auto.bg-gray-100
        .w-full.max-w-5xl(x-data="{ accordion: '', modal: '', tab: '' }")
            // START Shipping Item
            .p-6.mb-6.bg-white.shadow.rounded
                .flex.flex-row.justify-between.items-center
                    .flex.flex-row.items-center.cursor-pointer(x-on:click="accordion !== 'shipping-1' ? accordion = 'shipping-1' : accordion = ''")
                        span.material-icons.text-md.text-gray-600.mr-2.mt-1 public
                        h6.text-xl.font-normal World
                    .flex.flex-row.items-center
                        button.flex.flex-row.items-center.mr-4.text-indigo-700.rounded.outline-none.hover_opacity-75.fade(type="button" x-on:click="modal = 'shipping-1'; tab = 'zone'")
                            span.py-1.text-sm.font-bold.tracking-widest.uppercase Edit
                        span.material-icons.text-gray-600.cursor-pointer(x-show="accordion !== 'shipping-1'" x-on:click="accordion !== 'shipping-1' ? accordion = 'shipping-1' : accordion = ''") keyboard_arrow_down
                        span.material-icons.text-gray-600.cursor-pointer(x-show="accordion === 'shipping-1'" x-on:click="accordion !== 'shipping-1' ? accordion = 'shipping-1' : accordion = ''") keyboard_arrow_up

                        // START Shipping Item Modal
                        .absolute.w-full.h-full.top-0.left-0.z-50(x-show.transition="modal === 'shipping-1'")
                            .absolute.top-0.left-0.w-full.h-full.bg-black.opacity-75
                            form.relative.flex.items-center.justify-center.w-full.h-full
                                .w-full.max-w-3xl.bg-white.rounded.shadow-xl(x-on:click.away="modal = ''")
                                    .bg-gray-200.pt-5.px-6
                                        .flex.flex-row.items-center.justify-between.mb-5
                                            h6.text-lg.font-bold Edit World 
                                            span.material-icons.text-gray-600.cursor-pointer(x-on:click="modal = ''") close

                                        // Tabs
                                        nav.flex.flex-row.border-b.border-gray-300
                                            button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'zone' }" x-on:click="tab = 'zone'") Zone
                                            button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'fee' }" x-on:click="tab = 'fee'") Handling fee
                                    
                                    // Modal body
                                    .py-8.px-6
                                        .w-full(x-show="tab === 'zone'") Zone content
                                        .w-full(x-show="tab === 'fee'") Fee content
                                        
                                    // Modal footer
                                    .flex.flex-row.justify-end.items-center.py-5.px-6.bg-white.border-t.border-gray-200.z-50
                                        nav.flex.flex-row
                                            button.flex.flex-row.items-center.ml-4.text-gray-600.rounded.outline-none.hover_opacity-75.fade(type="button" x-on:click="modal = ''")
                                                span.py-1.text-sm.font-medium.tracking-widest.uppercase Cancel
                                            button.flex.flex-row.items-center.ml-4.text-white.bg-indigo-700.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="button")
                                                span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Save

                        // END Shipping Item Modal

                .w-full(x-show="accordion === 'shipping-1'")
                    .pt-4.mt-4.border-t
                        .flex.flex-row.justify-between.items-center
                            h6.text-base.font-bold Free Shipping
                            p.w-7_12.text-gray-600 Use free shipping to improve checkout conversion, increase average order value and reduce abandoned carts.
                            .flex.flex-row.items-center
                                a.flex.flex-row.items-center.ml-4.text-white.bg-indigo-700.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(href="./store-payment-bankdeposit.html")
                                    span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Edit
                    
            // END Shipping Item


            // START Out of delivery zone message
            .p-6.mb-6.bg-white.shadow.rounded
                h6.mb-1.text-xl.font-normal Out of delivery zone message
                p.text-gray-600 This message will be shown to shoppers outside of Zones you have set up for delivery. 

                form.pt-4.mt-4.border-t
                    textarea.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(rows="2")
                        | Unfortunately one or more items in your cart can't be shipped to your location. Please choose a different delivery address.
                    .flex.flex-row.justify-end.mt-3
                        button.flex.flex-row.items-center.ml-4.text-white.bg-indigo-700.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="submit")
                            span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Save

            // END Out of delivery zone message