extends ../layouts/default

block meta
    title Store | Shopinizer eCommerce

block nestbar
    aside.flex.flex-col.w-full.max-w-xxs.py-6.px-8.bg-indigo-100
        h3.mb-6.text-2xl Store Setup

        nav.flex.flex-col.mb-6
            ul.flex.flex-col
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-profile.html") Store Profile
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-currencies.html") Currencies
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-payments.html") Payments
                li.mb-3
                    a.text-indigo-800.hover_text-indigo-800(href="./store-settings.html") Store Settings
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-shipping.html") Shipping
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-tax.html") Tax
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-points.html") Point of Sale
                li.mb-3
                    a.text-gray-600.hover_text-indigo-700(href="./store-accounting.html") Accounting

block page
    .flex.flex-col.flex-1.w-full.overflow-y-auto(x-data="{ tab: 'website' }")
        .px-12.pt-6.bg-white
            .flex.flex-row.justify-between.items-center.mb-6
                div
                    h2.mb-1.text-3xl.font-light.leading-none Store Settings
                    p.text-lg.font-light.text-gray-600 Update the settings in the form below and click "Save", or click "Cancel" to keep the current settings.
                // Buttons control
                nav.flex.flex-row
                    a.flex.flex-row.items-center.ml-4.text-indigo-700.border.border-indigo-700.rounded.hover_opacity-50.fade(href="#")
                        span.material-icons.py-1.px-2.text-md more_vert

            // Tabs
            nav.flex.flex-row.border-b.border-gray-300
                button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'website' }" x-on:click="tab = 'website'") Website
                button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'display' }" x-on:click="tab = 'display'") Display
                button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'share' }" x-on:click="tab = 'share'") Share
                button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'date' }" x-on:click="tab = 'date'") Date & Timezone
                button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'URL' }" x-on:click="tab = 'URL'") URL Structure
                button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'search' }" x-on:click="tab = 'search'") Search
                button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'security' }" x-on:click="tab = 'security'") Security & Privacy
                button.block.pb-2.px-5.-mb-px.font-medium.text-gray-600.border-b-2.border-transparent.hover_text-indigo-700(type="button" x-bind:class="{ 'text-indigo-700 border-indigo-700': tab === 'miscellaneous' }" x-on:click="tab = 'miscellaneous'") Miscellaneous


        .flex.flex-col.flex-1.items-center.h-full.py-8.px-12.overflow-y-auto.bg-gray-100
            // start Form
            form.w-full.max-w-5xl(action="/upload" method="post" enctype="multipart/form-data" )
                // START Website tab
                .w-full(x-show="tab === 'website'")
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Store Status
                        
                        .flex.flex-wrap.-mx-4
                            .w-full.px-4.mb-0
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Down for Maintenance
            
            
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Physical Dimension Settings
                        
                        .flex.flex-wrap.-mx-4
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Weight Measurement
                                    .relative
                                        select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                            option Option 1
                                            option Option 2
                                            option Option 3
                                        .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                            svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                                path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                                
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Length Measurement
                                    .relative
                                        select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                            option Option 1
                                            option Option 2
                                            option Option 3
                                        .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                            svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                                path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                                
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Decimal Token
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" value=".")
                                
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Thousands Token
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" value=",")
                                
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Decimal Places
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number" value="2")
                                
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Factoring Dimension
                                    .relative
                                        select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                            option Option 1
                                            option Option 2
                                            option Option 3
                                        .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                            svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                                path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                                

                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Search Engine Optimization

                        .flex.flex-wrap.-mx-4
                            .w-full.px-4.mb-6
                                .w-full.md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide(for="sTitle") Page Title
                                    input#sTitle.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="")
                                
                            .w-full.px-4.mb-6
                                .w-full.md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide(for="sKeywords") Meta Keywords
                                    input#sKeywords.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="")
                                
                            .w-full.px-4.mb-6
                                .w-full.md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide(for="sDescription") Meta Description
                                    input#sDescription.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="")
                                
                            .w-full.px-4.mb-6
                                .w-full.md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide(for="sSearch") Search Keywords
                                    input#sSearch.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="")
                                

                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Search Engine Robots
                        
                        .flex.flex-wrap.-mx-4
                            .w-full.px-4.mb-6
                                textarea.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(rows="10")
                                    | User-agent: *
                                    | Disallow: /account.php
                                    | Disallow: /cart.php
                                    | Disallow: /checkout.php
                                    | Disallow: /checkout
                                    | Disallow: /finishorder.php
                                    | Disallow: /login.php
                                    | Disallow: /orderstatus.php
                                    | Disallow: /postreview.php
                                    | Disallow: /productimage.php
                                    | Disallow: /productupdates.php
                                    | Disallow: /remote.php
                                    | Disallow: /search.php
                                    | Disallow: /viewfile.php
                                    | Disallow: /wishlist.php
                                    | Disallow: /admin/
                                    | Disallow: /__socialshop/
                // END Website tab

                // START Display tab
                .w-full(x-show="tab === 'display'")
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Display Settings
                        
                        .flex.flex-wrap.-mx-4
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Product Breadcrumbs
                                    .relative
                                        select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                            option Option 1
                                            option Option 2
                                            option Option 3
                                        .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                            svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                                path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                                
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Show Quantity Box for Products
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, show the quantity box on the add to cart panel
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Enable Search Suggest?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, enable search suggest
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Auto Approve Reviews?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, auto approve reviews
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Enable Wishlist?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, enable the wishlist for my store
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Enable Product Comparisons?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, enable product comparisons
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Enable Account Creation?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, enable account creation in my store
                    
                    
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Control Panel
                        
                        .flex.flex-wrap.-mx-4
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2.px-4
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Use WYSIWYG Editor?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, enable the WYSIWYG editor
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2.px-4
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Show Product Thumbnails?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, show product thumbnail images
                            
                    
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Category Settings
                                                    
                        .flex.flex-wrap.-mx-4
                            .w-full.px-4.mb-3         
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Category Product List

                            .w-full.px-4.mb-3
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="category_list")
                                    span.ml-2 Show products from the current category only
                            .w-full.px-4.mb-3
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="category_list")
                                    span.ml-2 Show products from child categories if the current category is empty
                            .w-full.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="category_list")
                                    span.ml-2 Show products from the current category and its children

                        .flex.flex-wrap.-mx-4
                            .md_w-1_2.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Default Product Sort
                                .relative
                                    select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                        option Option 1
                                        option Option 2
                                        option Option 3
                                    .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                        svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                            path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')


                        .flex.flex-wrap.items-center.-mx-2
                            .w-full.md_w-2_12.px-2.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Menu Display Depth
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number", value="3")

                            .w-full.md_w-10_12.px-2.mb-6
                                p.mt-8.text-gray-600 levels deep


                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Product Settings
                        
                        .flex.flex-wrap.-mx-4
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Show Product's Price?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, show the product's price in my store
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Show Product's SKU?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, show the product's SKU in my store
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Show Product's Weight?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, show the product's weight in my store
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Show Product's Brand?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, show the product's brand in my store
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Show Product's Shipping Cost?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, show the product's shipping cost in my store
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Show Product's Rating?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, show the product's rating in my store
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Show Add to Cart Link?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, show the "Add to Cart" link in all the small product boxes
                            
                            .flex.flex-wrap.w-full.px-4.mb-6
                                .md_w-1_2
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Default Pre-Order Message
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", value="Expected release date is %%DATE%%")

                // END Display tab


                // START Date & Timezone tab
                .w-full(x-show="tab === 'date'")
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Date Settings
                        
                        .flex.flex-wrap.-mx-4
                            .md_w-1_2.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Your Timezone
                                .relative
                                    select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                        option Option 1
                                        option Option 2
                                        option Option 3
                                    .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                        svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                            path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                        
                        .flex.flex-wrap.-mx-4
                            .md_w-1_2.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Enable DST Correction?
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Yes, enable daylight savings time correction

                        .flex.flex-wrap.-mx-4
                            .md_w-1_2.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Display Date Format
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", value="jS M Y")

                        .flex.flex-wrap.-mx-4
                            .md_w-1_2.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Extended Display Date Format
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", value="jS M Y @ g:i A")

                // END Date & Timezone tab


                // START URL Structure tab
                .w-full(x-show="tab === 'URL'")
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Product URL Settings
                        
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="product_URL")
                                    span.ml-2 SEO Optimized (Short)
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                p.text-gray-600 https://testoria.mybigcommerce.com/ipod-nano/
                
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="product_URL")
                                    span.ml-2 SEO Optimized (Long)
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                p.text-gray-600 https://testoria.mybigcommerce.com/products/ipod-nano.html
                
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="product_URL")
                                    span.ml-2 SEO Optimized (Category)
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                p.text-gray-600 https://testoria.mybigcommerce.com/mp3-players/ipod-nano/

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="product_URL")
                                    span.ml-2 Custom
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="Custom URL Format")
                    
                    
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Category URL Settings
                        
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="category_URL")
                                    span.ml-2 SEO Optimized (Short)
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                p.text-gray-600  https://testoria.mybigcommerce.com/apple-ipod/ 
                
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="category_URL")
                                    span.ml-2 SEO Optimized (Long)
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                p.text-gray-600  https://testoria.mybigcommerce.com/categories/apple-ipod.html
                
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="category_URL")
                                    span.ml-2 Custom
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="Custom URL Format")
                    
                    
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Web Page URL Settings
                        
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="category_URL")
                                    span.ml-2 SEO Optimized (Short)
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                p.text-gray-600  h https://testoria.mybigcommerce.com/about-us/
                
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="category_URL")
                                    span.ml-2 SEO Optimized (Long)
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                p.text-gray-600   https://testoria.mybigcommerce.com/pages/about-us.html
                
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="category_URL")
                                    span.ml-2 Custom
                            
                            .w-full.md_w-6_12.px-4.mb-6
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text", placeholder="Custom URL Format")

                // END URL Structure tab


                // START Search tab
                .w-full(x-show="tab === 'search'")
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Search Settings

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Default Product Sort
                                .relative
                                    select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                        option(value='relevance', selected='') Relevance
                                        option(value='featured') Featured Items
                                        option(value='newest') Newest Items
                                        option(value='bestselling') Bestselling
                                        option(value='alphaasc') Alphabetical: A to Z
                                        option(value='alphadesc') Alphabetical: Z to A
                                        option(value='avgcustomerreview') Avg. Customer Review
                                        option(value='priceasc') Price: Low to High
                                        option(value='pricedesc') Price: High to Low
                                    .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                        svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                            path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                            
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Default Content Sort
                                .relative
                                    select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                        option(value='relevance', selected='') Relevance
                                        option(value='alphaasc') Alphabetical: A to Z
                                        option(value='alphadesc') Alphabetical: Z to A
                                    .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                        svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                            path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                            
                // END Search tab


                // START Security & Privacy tab
                .w-full(x-show="tab === 'security'")
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Security

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-12_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Configure complexity of the shoppers password?
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox" v-model="shoppers_password")
                                    span.ml-2 Yes, I would like to enforce complexity rules for shopper passwords

                        .w-full(v-if="shoppers_password")
                            .flex.flex-wrap.items-center.-mx-4.mb-6
                                .w-full.md_w-12_12.px-4
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Minimum password length
                                .w-full.md_w-2_12.px-4
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number", value="7")

                            .flex.flex-wrap.items-center.-mx-4.mb-4
                                .w-full.md_w-12_12.px-4
                                    label.block.mb-0.text-xs.font-normal.uppercase.tracking-wide.text-gray-600 Select three or more rules to apply.

                            .flex.flex-wrap.items-center.-mx-4.mb-6
                                .w-full.md_w-12_12.px-4
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Require lower case letters?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, enable lower case requirement
                    
                            .flex.flex-wrap.items-center.-mx-4.mb-6
                                .w-full.md_w-12_12.px-4
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Require upper case letters?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 Yes, enable upper case requirement
                    
                            .flex.flex-wrap.items-center.-mx-4.mb-6
                                .w-full.md_w-12_12.px-4
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Require numbers?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 At least
                                        input.inline-block.w-24.ml-2.py-1.px-3.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number" value="1")
                                        span.ml-2 characters
                    
                            .flex.flex-wrap.items-center.-mx-4.mb-6
                                .w-full.md_w-12_12.px-4
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Require special characters?
                                    label.inline-flex.items-center
                                        input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                        span.ml-2 At least
                                        input.inline-block.w-24.ml-2.py-1.px-3.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number" value="1")
                                        span.ml-2 characters
                    

                    .p-8.mb-8.bg-white.shadow.rounded
                        p.mb-6.text-base.font-normal.text-gray-600  For advanced users only, this section allows you to configure the automatic logout duration for inactive shoppers.
                            a.text-indigo-600.hover_text-indigo-800(href="#") Learn more 

                        .flex.flex-wrap.items-center.-mx-4.mb-4
                            .w-full.md_w-12_12.px-4
                                label.block.mb-3.text-xs.font-bold.uppercase.tracking-wide Inactive shopper logout 

                            .w-full.md_w-12_12.px-4.mb-2
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="shopper_logout" v-model="shopper_logout" value="1")
                                    span.ml-2 Use the default 7 day duration

                            .w-full.md_w-12_12.px-4.mb-0
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="shopper_logout" v-model="shopper_logout" value="2")
                                    span.ml-2 Let me customize the duration

                        .flex.flex-wrap.items-center.-mx-2.mb-6.pl-8(v-if="shopper_logout == 2")
                            .w-full.md_w-1_12.px-2
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number" value="7")

                            .w-full.md_w-2_12.px-2
                                .relative
                                    select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                        option Days
                                        option Hours
                                        option Option 3
                                    .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                        svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                            path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                        

                        .flex.flex-wrap.items-center.-mx-4.mb-4
                            .w-full.md_w-12_12.px-4
                                label.block.mb-3.text-xs.font-bold.uppercase.tracking-wide Shopper activity extends logout duration

                            .w-full.md_w-12_12.px-4.mb-2
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="logout_duration" v-model="logout_duration" value="1")
                                    span.ml-2 Disabled

                            .w-full.md_w-12_12.px-4.mb-0
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="logout_duration" v-model="logout_duration" value="2")
                                    span.ml-2 Use the default 5 minute extension

                            .w-full.md_w-12_12.px-4.mb-0
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="logout_duration" v-model="logout_duration" value="3")
                                    span.ml-2 Let me customize the duration

                        .flex.flex-wrap.items-center.-mx-2.mb-6.pl-8(v-if="logout_duration == 3")
                            .w-full.md_w-1_12.px-2
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number" value="7")

                            .w-full.md_w-2_12.px-2
                                .relative
                                    select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                        option Days
                                        option Hours
                                        option Option 3
                                    .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                        svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                            path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                        

                    .p-8.mb-8.bg-white.shadow.rounded
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Control Panel Inactivity Timeout
                                .relative
                                    select.select2-df.block.w-full.py-3.px-4.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                        option Option 1
                                        option Option 2
                                        option Option 3
                                    .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                        svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                            path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                        
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Enable reCAPTCHA on storefront?
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Yes, enable reCAPTCHA security
                
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide reCAPTCHA Site Key
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text")

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide reCAPTCHA Secret Key
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text")

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-12_12.px-4
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Failed Login Lockout

                            .w-full.md_w-2_12.px-4.mb-6
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number" value="10")


                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Your customers' privacy
                    
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Cookie consent tracking
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Yes, turn on the cookie consent banner on my store.
                
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Privacy Policy URL
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" placeholder="https://example.com/privacy-policy")

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-12_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Analytics for my business
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 When on, we track your customers' behaviors so you can get analytics features to help you run your business. When this is off we do not track your customers behavior, your analytics reports will not work, and this data will NOT be recoverable. Please consult your legal advisors to determine the appropriate setting for your business. 
                

                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Storefront
                        
                        .mb-6.bg-orange-100.border-l-4.border-orange-500.text-orange-700.p-4(role='alert')
                            p.font-bold Be Warned
                            p Changing these settings can have serious consequences for your storefront if done incorrectly. Please consult the documentation before making any changes. It is recommended to not modify these settings at all unless you know exactly what you're doing.

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.px-4
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide HSTS 
                            
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-2
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="HSTS" v-model="HSTS" value="1")
                                    span.ml-2 Do not enforce HSTS on my storefront

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-3
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="HSTS" v-model="HSTS" value="2")
                                    span.ml-2 Enforce HSTS on my storefront
                        
                        .flex.flex-wrap.items-center.-mx-4.pl-8(v-if="HSTS == 2")
                            .w-full.md_w-12_12.px-4.mb-3
                                .inline-flex.items-center
                                    label.text-xs.font-bold.uppercase.tracking-wide Set Max-Age Header (max-age) to:
                                    .relative.ml-3
                                        select.block.w-28.py-2.px-3.pr-10.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                            option(value='0', selected='selected') 0 (Disabled)
                                            option(value='3') 3 Months
                                            option(value='6') 6 Months
                                            option(value='9') 9 Months
                                            option(value='12') 12 Months
                                        .absolute.pointer-events-none.inset-y-0.right-0.flex.items-center.pt-1.px-3.text-gray-700
                                            svg.fill-current.w-5.h-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
                                                path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
   
                            .w-full.md_w-12_12.px-4
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Apply HSTS policy to subdomains (includeSubDomains)
                

                        .flex.flex-wrap.items-center.-mx-4.mt-6
                            .w-full.px-4
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Configure Content-Security-Policy Header Value 
                            
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-2
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="Header" v-model="Header" value="1")
                                    span.ml-2 Do not use a custom CSP header

                        .flex.flex-wrap.items-center.-mx-4.mb-3
                            .w-full.md_w-6_12.px-4.mb-0
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="Header" v-model="Header" value="2")
                                    span.ml-2 Specify my own CSP header
                            
                        .flex.flex-wrap.items-center.-mx-4.pl-8(v-if="Header == 2")
                            .w-full.md_w-6_12.px-4
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Content Security Policy Header Value 
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text")

                        .flex.flex-wrap.items-center.-mx-4.mt-6.mb-6
                            .w-full.px-4
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide X-Frame-Options header
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox" v-model="xFrame_header")
                                    span.ml-2 X-Frame-Options header settings 

                        .w-full(v-if="xFrame_header")
                            .flex.flex-wrap.items-center.-mx-4
                                .w-full.md_w-6_12.px-4.mb-2
                                    label.inline-flex.items-center
                                        input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="Frame" v-model="Frame" value="1")
                                        span.ml-2 Deny

                            .flex.flex-wrap.items-center.-mx-4
                                .w-full.md_w-6_12.px-4.mb-2
                                    label.inline-flex.items-center
                                        input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="Frame" v-model="Frame" value="2")
                                        span.ml-2 Same Origin
                                        
                            .flex.flex-wrap.items-center.-mx-4.mb-3
                                .w-full.md_w-6_12.px-4
                                    label.inline-flex.items-center
                                        input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="Frame" v-model="Frame" value="3")
                                        span.ml-2 Allow from url
                                
                            .flex.flex-wrap.items-center.-mx-4.pl-8.mb-6(v-if="Frame == 3")
                                .w-full.md_w-6_12.px-4
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide URL 
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" placeholder="https://example.com")

                // END Security & Privacy tab


                // START Miscellaneous tab
                .w-full(x-show="tab === 'miscellaneous'")
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Email Settings

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-12_12.px-4
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Product Review Emails
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox" v-model="review_emails")
                                    span.ml-2 Yes, send emails to customers asking them to review products they have purchased

                        .flex.flex-wrap.items-center.-mx-4.mt-3.pl-8(v-if="review_emails")
                            .w-full.md_w-12_12.px-4.mb-4
                                .inline-flex.items-center
                                    input.inline-block.w-20.py-2.px-3.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number" placeholder="")
                                    span.ml-3 days after the order is marked as Shipped or Completed
                            .w-full.md_w-12_12.px-4
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Yes, send product review emails to guest customers

                        .flex.flex-wrap.items-center.-mx-4.mt-6
                            .w-full.md_w-12_12.px-4
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Forward Order Invoices
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox" v-model="order_invoice")
                                    span.ml-2 Yes, forward order invoice emails to

                        .flex.flex-wrap.items-center.-mx-4.mt-3.pl-8(v-if="order_invoice")
                            .w-full.md_w-6_12.px-4
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" placeholder="")
                                p.mt-1.text-sm.text-gray-600 Type the email addresses, separated by commas.

                        .flex.flex-wrap.items-center.-mx-4.mt-6
                            .w-full.md_w-12_12.px-4
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Use SMTP Server
                            
                            .w-full.md_w-6_12.px-4.mb-2
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="SMTP" v-model="SMTP" value="1")
                                    span.ml-2 Use my default mail settings
                                    
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-6_12.px-4.mb-0
                                label.inline-flex.items-center
                                    input.form-radio.h-6.w-6.text-indigo-700(type="radio" name="SMTP" v-model="SMTP" value="2")
                                    span.ml-2 Let me specify my own SMTP server details
                        
                        .w-full.pl-8.mt-3(v-if="SMTP == 2")
                            .flex.flex-wrap.items-center.-mx-4.mb-3
                                .w-full.md_w-6_12.px-4.mb-0
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide SMTP Hostname
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" placeholder="")
        
                            .flex.flex-wrap.items-center.-mx-4.mb-3
                                .w-full.md_w-6_12.px-4.mb-0
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide SMTP Username 
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" placeholder="")
        
                            .flex.flex-wrap.items-center.-mx-4.mb-3
                                .w-full.md_w-6_12.px-4.mb-0
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide SMTP Password
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="password" placeholder="")
        
                            .flex.flex-wrap.items-center.-mx-4.mb-3
                                .w-full.md_w-6_12.px-4.mb-0
                                    label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide SMTP Port
                                    input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="text" placeholder="")
                        
                            .flex.flex-wrap.items-center.-mx-4.mb-3
                                .w-full.md_w-6_12.px-4.mb-4
                                    button.w-full.block.flex.flex-row.items-center.text-white.bg-indigo-700.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="button")
                                        span.w-full.text-center.py-2.px-5.text-sm.font-bold.tracking-widest.uppercase Test SMTP Settings

                        .flex.flex-wrap.items-center.-mx-4.mt-6
                            .w-full.md_w-6_12.px-4.mb-0
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Administrator's Email(Required)
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="email" placeholder="name@website.com" value="name@website.com")
    
                        .flex.flex-wrap.items-center.-mx-4.mt-6
                            .w-full.md_w-12_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Abandoned Cart Notifications
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Yes, enable the abandoned cart notifications
   
                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-12_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Require Consent
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Yes, require customers to give consent to receive marketing emails (GDPR recommended)
                    
                    
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Advanced Store Settings

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-12_12.px-4.mb-6
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Allow Purchasing?
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Yes, allow people to purchase from my store

                    
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Order Settings

                        .flex.flex-wrap.items-center.-mx-4
                            .w-full.md_w-4_12.px-4.mb-6
                                label.block.mb-0.text-xs.font-bold.uppercase.tracking-wide Starting Order Number
                                p.mb-2.text-sm.text-gray-600 (Optional)
                                input.block.w-full.py-3.px-4.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number" placeholder="" value="101")
                    
                    .p-8.mb-8.bg-white.shadow.rounded
                        h6.mb-6.text-2xl.font-normal.text-gray-600 Throttler

                        .flex.flex-wrap.items-center.-mx-4.mb-3
                            .w-full.md_w-12_12.px-4
                                label.block.mb-2.text-xs.font-bold.uppercase.tracking-wide Enable Throttler
                                label.inline-flex.items-center
                                    input.form-checkbox.h-6.w-6.text-indigo-700(type="checkbox")
                                    span.ml-2 Yes, turn on throttler in my store

                        .flex.flex-wrap.items-center.-mx-4.mb-6
                            .w-full.md_w-12_12.px-4
                                .inline-flex.items-center
                                    span Allow
                                    input.mx-3.inline-block.w-24.py-2.px-3.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300(type="number" value="1")
                                    span reviews to be posted every
                                    .relative.mx-3
                                        select.inline-block.w-24.py-2.px-3.appearance-none.leading-tight.text-indigo-900.bg-white.border.border-gray-300.shadow-xs.rounded.fade.focus_outline-none.focus_border-indigo-300
                                            option 1
                                            option 2
                                            option 3
                                    span minutes

                // END Miscellaneous tab

            // end Form
                        
block footer
    .flex.flex-row.justify-end.items-center.px-12.py-4.bg-white.border-t.border-gray-200.z-50
        nav.flex.flex-row
            button.flex.flex-row.items-center.ml-4.text-gray-600.rounded.outline-none.hover_opacity-75.fade(type="button")
                span.py-1.text-sm.font-medium.tracking-widest.uppercase Cancel
            button.flex.flex-row.items-center.ml-4.text-white.bg-indigo-700.border.border-transparent.outline-none.rounded.hover_opacity-75.fade(type="button")
                span.py-1.px-5.text-sm.font-bold.tracking-widest.uppercase Save
