header.relative.top-0.left-0.h-screen.px-2.py-4
    .inner.flex.flex-wrap.content-between.h-full
        .logo.self-center.w-full
            a.flex.w-full(href="")
                img.mx-auto(src="./assets/images/icon.svg", width="30px")

        .menu-group.flex-col.self-center.mt-auto
            a.flex.menu-item.p-2.rounded.rounded-sm.hdr-icon.my-2(href="/dist/sales.html")
                span.material-icons.text-white.text-md      attach_money

            a.flex.menu-item.p-2.rounded.rounded-sm.hdr-icon.my-2(href="/dist/customers.html")
                span.material-icons.text-white.text-md      group

            a.flex.menu-item.p-2.rounded.rounded-sm.hdr-icon.my-2(href="/dist/catalog.html")
                span.material-icons.text-white.text-md      category

            a.flex.menu-item.p-2.rounded.rounded-sm.hdr-icon.my-2(href="/dist/marketing.html")
                span.material-icons.text-white.text-md      campaign


            a.flex.menu-item.p-2.rounded.rounded-sm.hdr-icon.my-2(href="/dist/analytics.html")
                span.material-icons.text-white.text-md      bar_chart

            a.flex.menu-item.p-2.rounded.rounded-sm.hdr-icon.my-2(href="/dist/channels.html")
                span.material-icons.text-white.text-md      merge_type

            a.flex.menu-item.p-2.rounded.rounded-sm.hdr-icon.my-2(href="/dist/store.html")
                span.material-icons.text-white.text-md      store_mall_directory

        .control-group.flex-col.self-center.mt-auto
            a.flex.menu-item.p-2.rounded.rounded-sm.my-2(href="")
                span.material-icons.text-white.text-md     settings

            a.flex.menu-item.p-2.rounded.rounded-sm.mt-2(href="")
                span.material-icons.text-white.text-md      person