aside.relative.flex.flex-col.content-center.justify-between.h-full.py-6.px-4.bg-indigo-700
    .block
        a.flex.w-full.hover_opacity-75(href="./", data-tippy-content="Home")
            img.mx-auto(src="./assets/images/icon.svg", width="30px")

    .flex.flex-col
        a.flex.p-2.rounded.my-3.bg-indigo-800.hover_opacity-75(href="./", data-tippy-content="Home")
            span.material-icons.text-white.text-md home

        a.flex.p-2.rounded.my-3.bg-indigo-800.hover_opacity-75(href="./sales.html", data-tippy-content="Sales")
            span.material-icons.text-white.text-md attach_money

        a.flex.p-2.rounded.my-3.bg-indigo-800.hover_opacity-75(href="./customers.html", data-tippy-content="Customers")
            span.material-icons.text-white.text-md group

        a.flex.p-2.rounded.my-3.bg-indigo-800.hover_opacity-75(href="./product-categories.html", data-tippy-content="Catalog")
            span.material-icons.text-white.text-md category

        a.flex.p-2.rounded.my-3.bg-indigo-800.hover_opacity-75(href="./marketing.html", data-tippy-content="Marketing")
            span.material-icons.text-white.bg-indigo-800.text-md campaign


        a.flex.p-2.rounded.my-3.bg-indigo-800.hover_opacity-75(href="./analytics.html", data-tippy-content="Analytics")
            span.material-icons.text-white.text-md bar_chart

        a.flex.p-2.rounded.my-3.bg-indigo-100.pointer-events-none(href="./channels.html", data-tippy-content="Channels")
            span.material-icons.text-indigo-800.text-md merge_type

        a.flex.p-2.rounded.my-3.bg-indigo-800.hover_opacity-75(href="./store.html", data-tippy-content="Store")
            span.material-icons.text-white.text-md store_mall_directory

    .flex.flex-col
        a.relative.flex.px-2.mb-4.hover_opacity-75(href="#fake", data-tippy-content="Notifications")
            span.material-icons.text-white.text-md notifications
            span.notifications_label.absolute.inline-flex.justify-center.items-center.w-6.h-6.font-mono.text-sm.font-bold.text-center.text-white.bg-red-600.shadow-sm.rounded-full 9
        a.flex.px-2.hover_opacity-75(href="#", data-tippy-content="More")
            span.material-icons.text-white.text-md more_vert