.start-menu.absolute.z-30.w-full.h-full.top-0.left-0(x-show="open" @click.away="open = false" @keydown.escape="open = false")
    .wrapper.relative.flex-col.w-full.h-full.p-8
        .overlay.absolute.top-0.left-0.w-full.h-full.bg-black.opacity-75.z-10
        .back-arrow.flex.relative.z-20
            a(href="#", @click="open = false")
                span.material-icons.text-white.p-2()     west

        .controls-wrapper.flex.justify-between.p-8.relative.z-20

            //start left control groups
            .control-left.flex-col.flex-1

                //start orders control group
                .control-group.flex-col.mb-6
                    .control-title.flex.mb-4
                        span.material-icons.text-md.text-white.ml-2.self-center  short_text
                        p.text-white.text-sm.ml-2.slef-center    Orders

                    .control-body.flex.flex-wrap

                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Add Order


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   All Orders


                       

                //start customers control group
                .control-group.flex-col.mb-6
                    .control-title.flex.mb-4
                        span.material-icons.text-md.text-white.ml-2.self-center  short_text
                        p.text-white.text-sm.ml-2.slef-center    Customers

                    .control-body.flex.flex-wrap

                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Products


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Categories


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Products


                //start channel manager control group
                .control-group.flex-col.mb-6
                    .control-title.flex.mb-4
                        span.material-icons.text-md.text-white.ml-2.self-center  short_text
                        p.text-white.text-sm.ml-2.slef-center    Channel Manager

                    .control-body.flex.flex-wrap

                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Products


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Categories
            


            //start center control groups
            .control-center.flex-col.flex-1

                //start products control group
                .control-group.flex-col.mb-6
                    .control-title.flex.mb-4
                        span.material-icons.text-md.text-white.ml-2.self-center  short_text
                        p.text-white.text-sm.ml-2.slef-center    Products Catalog

                    .control-body.flex.flex-wrap

                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   View All

                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Add New


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   account_tree
                            p.text-sm.self-center.text-center   Categories


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Suppliers


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   local_offer
                            p.text-sm.self-center.text-center   Brands


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Options


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Reviews


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Filters



                //start marketing control group
                .control-group.flex-col.mb-6
                    .control-title.flex.mb-4
                        span.material-icons.text-md.text-white.ml-2.self-center  short_text
                        p.text-white.text-sm.ml-2.slef-center    Marketing

                    .control-body.flex.flex-wrap

                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Banners


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Promotions


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Cart Not.



                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Coupones


            //start right control groups
            .control-right.flex-col.flex-1 

                .control-group.flex-col.mb-6
                    .control-title.flex.mb-4
                        span.material-icons.text-md.text-white.ml-2.self-center  short_text
                        p.text-white.text-sm.ml-2.slef-center    Analytics

                    .control-body.flex.flex-wrap

                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Products


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Categories



                .control-group.flex-col.mb-6
                    .control-title.flex.mb-4
                        span.material-icons.text-md.text-white.ml-2.self-center  short_text
                        p.text-white.text-sm.ml-2.slef-center    Store Setup

                    .control-body.flex.flex-wrap

                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Products


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Categories



                .control-group.flex-col.mb-6
                    .control-title.flex.mb-4
                        span.material-icons.text-md.text-white.ml-2.self-center  short_text
                        p.text-white.text-sm.ml-2.slef-center    Advanced Settings

                    .control-body.flex.flex-wrap

                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Products


                        a.control-item.p-3.bg-white.shadow.shadow-base.flex-col.m-2.items-center.w-24(href="")
                            span.material-icons.text-gray-500.text-3xl.justify-center.flex.mb-2   add
                            p.text-sm.self-center.text-center   Categories
            