.utility-bar.h-24.flex.bg-white.shadow.shadow-base
    .navigate.flex.flex-col
        a.flex.self-center.p-2.w-12.h-12(href="")
            i.material-icons.text-3xl.text-gray-800.self-center  chevron_left

        a.flex.self-center.justify-center.p-2.w-12.h-12.bg-gray-800(href="")
            i.material-icons.text-xl.text-white.self-center  book

    .pax.flex.border-r.border-gray-300.px-2
        a.flex.flex-col.self-center.px-4(href="")
            i.material-icons.text-2xl.text-blue-500.self-center  people
            p.text-xs.mt-2 Guests

    .reservation-content.flex.flex-col.border-r.border-gray-300
        .label.py-2.flex
            i.material-icons.text-md.text-gray-500.self-center.ml-4  folder
            p.text-xs.self-center.ml-1 RES-02042020-510

        .items-wrap.flex.pb-2.pt-1
            a.content.flex.border-r.border-gray-300.px-4.py-2(href="")
                i.material-icons.text-md.text-gray-500.self-center  folder_open
                p.text-xs.self-center.ml-1 Tickets

            a.content.flex.border-r.border-gray-300.px-4.py-2(href="")
                i.material-icons.text-md.text-gray-500.self-center  folder_open
                p.text-xs.self-center.ml-1 Hotels Acc.

            a.content.flex.border-r.border-gray-300.px-4.py-2(href="")
                i.material-icons.text-md.text-gray-500.self-center  folder_open
                p.text-xs.self-center.ml-1 Transfers

            a.content.flex.border-r.border-gray-300.px-4.py-2(href="")
                i.material-icons.text-md.text-gray-500.self-center  folder_open
                p.text-xs.self-center.ml-1 Tours

            a.content.flex.border-r.border-gray-300.px-4.py-2(href="")
                i.material-icons.text-md.text-gray-500.self-center  folder_open
                p.text-xs.self-center.ml-1 Rent A Car

            a.content.flex.px-4.py-2(href="")
                i.material-icons.text-md.text-gray-500.self-center  folder_open
                p.text-xs.self-center.ml-2 Extra Services

    .docs.flex.border-r.border-gray-300.px-2
        a.voucher.flex.flex-col.self-center.px-3.border-r.border-gray-300(href="")
            i.material-icons.text-md.text-blue-500.self-center  description
            p.text-xs.mt-2 Voucher

        a.voucher.flex.flex-col.self-center.px-4.border-r.border-gray-300(href="")
            i.material-icons.text-md.text-blue-500.self-center  monetization_on
            p.text-xs.mt-2 Invoice

        a.voucher.flex.flex-col.self-center.px-3.border-r.border-gray-300(href="")
            i.material-icons.text-md.text-blue-500.self-center  reply_all
            p.text-xs.mt-2 e-Mail Hotel

        a.voucher.flex.flex-col.self-center.px-4(href="")
            i.material-icons.text-md.text-blue-500.self-center  print
            p.text-xs.mt-2 Print

    .actions.flex.px-2
        a.voucher.flex.flex-col.self-center.px-4.border-r.border-gray-300(href="")
            i.material-icons.text-md.text-green-500.self-center  done_outline
            p.text-xs.mt-2 Save

        a.voucher.flex.flex-col.self-center.px-3.border-r.border-gray-300(href="")
            i.material-icons.text-md.text-red-500.self-center  cancel
            p.text-xs.mt-2 Cancel

        a.voucher.flex.flex-col.self-center.px-3(href="")
            i.material-icons.text-md.text-red-500.self-center  delete
            p.text-xs.mt-2 Delete
