doctype html
html.h-full(lang="en", dir="ltr")
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

            //start css
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons&display=swap")
            link(rel="stylesheet", href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css")
            link(rel="stylesheet", href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css")
            link(rel="stylesheet", href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css")
            link(rel="stylesheet", href="https://cdn.quilljs.com/1.3.6/quill.snow.css")
            link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.css")
            link(rel="stylesheet", href="assets/css/app.min.css")
            //end css

            link(rel="shortcut icon", href="./assets/images/note.svg", type="image/x-icon")

            block meta
            
    body.flex.flex-col.h-full.antialiased.font-sans.text-base.font-normal.leading-normal.text-left.text-indigo-900.bg-white
        main#app.flex.flex-row.h-full
            // start SideBar
            block sidebar
                include ../partials/sidebar
            // end SideBar

            block nestbar
        
            //start page content
            .flex.flex-col.flex-1.h-full
                .flex.flex-col.flex-1.w-full.overflow-y-auto
                    block page
                
                    // start Footer
                    block footer
                    // end Footer
            //end page content

        // START JAVASCRIPTS
        block scripts
        script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://unpkg.com/@popperjs/core@2")
        script(src="https://unpkg.com/tippy.js@6")
        script(src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
        script(src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js")
        script(src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js")
        script(src="https://cdn.quilljs.com/1.3.6/quill.js")
        script(src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js")
        script(src="assets/javascripts/app.min.js")
        // END JAVASCRIPTS